@charset "UTF-8";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    

}
body{
    font-family: Quicksand;
    background-color: #353535;
    width: 90vw;
    margin: 0 auto;

}
body > header > .left > h1{
    font-size: 6em;
    color: #fae9e9;
    text-indent: 45px;
}
.left{
    display: flex;
    flex-direction: row;
    align-items: end;
}
header{
    border-bottom: 1px solid rgba(240, 199, 199, 0.432);
    height: 300px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: auto auto;
}

#pSection{
    color: #D9D9D9;
    margin: 20px 0 20px 45px;
    font-size: 1.25em

}
#principal{
    color: white;
    display: flex;
    margin-top: 60px;
    flex-flow:row nowrap;
    width:100%;
    justify-content: space-evenly;
}
.colunasPrincipal{
    height: 220px;
    border-right: 1px solid rgba(128, 128, 128, 0.37);
    margin: 5px;
    text-align: center;
    width: 35%;
    padding: 10px;
    display: flex;
    flex-flow:column nowrap;
    justify-content: space-between;
    align-items: center;
}
.ultima{
    border: none;
}
.btnIr{
    width: 130px;
    font-size: 1.1em;
    margin-bottom: 50px;
    height: 45px;
    border-radius: 20px;
    border: none;
    background-color: #3c6e719a;
    cursor: pointer;


}
.btnLista{
    cursor: pointer;
    transition: transform .3s ease;
    background-color: #3C6E71;
    color: white;
}
.btnLista:hover{
    transform: scale(1.1);
    background-color: #2d5455;
    
}
#pHeader{
    color: #D9D9D9;
    margin: 0px 30px 25px 30px;

    
}

#boxClima{
    width: 400px;
    height: 180px;
    box-shadow: 0 0 5px rgba(109, 108, 108, 0.3);
    border-radius: 8px;
    font-family: Poppins;
    
}
#box_left{
    display: flex;
    flex-direction: row;
}
#cima{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#cidade_e_tempo{
    padding-top: 25px;
    height: 100px;
    width: 180px;
}
#temperatura{
    height: 80px;
    width: 80px;
    margin-top: 15px;
    margin-right: 10px;
    font-size: 32px;
}
#spanNomeCidade{
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 40px;
}
#spanTempo{
    font-size: 18px;
    font-weight: 400;
}
#spanTemperatura{
    font-weight: 700;
}
#legenda{
    margin: 4px 10px 4px 16px;
    text-align: justify;
    font-size: 13px;
}
span{
    color: #D9D9D9;
}

@media screen and (max-width: 320px) {
    #spanTemperatura{
        font-size: 22px;
    }
    #spanNomeCidade{
        font-size: 22px;
    }
}
@media screen and (max-width: 470px) {
    *{
    margin:0;
    padding:0;
    box-sizing:border-box;

    }
    .left{
        flex-flow: column;
        text-align: left;
    }
    #boxClima{
        width: 90%;
        height: 100px;
        margin-bottom: 20px;
    }
    #cima{
        height: 100% ;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #box_left{
        display: flex;
        flex-direction: column-reverse;
    }
    #temperatura{
        order: 2;
    }
    #legenda{
        display: none;
    }
    #cidade_e_tempo{
        padding: 15px 0 0 10px;
        width: 200px;
        display: flex;
        flex-flow: column nowrap;
    }
    #spanNomeCidade{
        margin: 0;
    }
    #desenhoClima{
        display: none;
    }
    body{
        font-family: Quicksand;
        background-color: #353535;
        width: 90vw;
        margin: 0 auto;

    }
    body > header > .left > h1{
        font-size: 76px;
        margin-top: 20px;
        color: #fae9e9;
        text-indent: 0px;
        text-align: center;
        
        
    }
    body>header>p{
        font-size: .8em;
        position: relative;
        bottom: 8px;
    }
    header{
        border-bottom: 1px solid rgba(240, 199, 199, 0.432);
        height: 300px;
        display:flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        margin: auto auto;
    }
    #pSection{
        color: #D9D9D9;
        margin: 20px 0 20px 45px;
        font-size: 1.25em

    }
    #principal{
        color: white;
        display: flex;
        margin: 0;
        flex-flow:column nowrap;
        width:100%;
        justify-content: space-evenly;
    }
    .colunasPrincipal{
        height: 180px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.37);
        margin: 5px;
        border-right: none;
        text-align: center;
        width: 85%;
        padding: 10px;
        display: flex;
        flex-flow:column nowrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
    }
    .ultima{
        border: none;
    }
    .btnIr{
        width: 130px;
        font-size: 1.1em;
        margin: 10px 0;
        height: 45px;
        border-radius: 20px;
        border: none;
        background-color: #3c6e719a;
        cursor: not-allowed;


    }
    .btnLista{
        cursor: pointer;
        transition: transform .3s ease;
        background-color: #3C6E71;
        color: white;
    }
    .btnLista:hover{
        transform: scale(1.1);
        background-color: #2d5455;
        
    }
    #pHeader{
        color: #D9D9D9;
        margin: 20px auto;
    }
}
@media screen and (min-width:769px) and (max-width:1080px){
    header{
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        height: 500px;
    }
    
}
@media screen and (min-width:471px) and (max-width:768px){
    
    body{
        font-family: Quicksand;
        background-color: #353535;
        width: 90vw;
        margin: 0 auto;

    }
    body > header > h1{
        font-size: 4em;
        color: #fae9e9;
        text-indent: 5px;
        
    }
    body>header>p{
        font-size: .8em;
        position: relative;
        bottom: 8px;
    }
    header{
        border-bottom: 1px solid rgba(240, 199, 199, 0.432);
        height: 500px;
        display:flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        margin: auto auto;
    }
    #pSection{
        color: #D9D9D9;
        margin: 20px 0 20px 45px;
        font-size: 1.25em

    }
    #principal{
        color: white;
        display: flex;
        margin: 0;
        flex-flow:column nowrap;
        width:100%;
        justify-content: space-evenly;
    }
    .colunasPrincipal{
        height: 190px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.37);
        margin: 5px;
        border-right: none;
        text-align: center;
        width: 85%;
        padding: 10px;
        display: flex;
        flex-flow:column nowrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
    }
    .ultima{
        border: none;
    }
    .btnIr{
        width: 130px;
        font-size: 1.1em;
        margin: 10px 0;
        height: 45px;
        border-radius: 20px;
        border: none;
        background-color: #3c6e719a;
        cursor: not-allowed;


    }
    .btnLista{
        cursor: pointer;
        transition: transform .3s ease;
        background-color: #3C6E71;
        color: white;
    }
    .btnLista:hover{
        transform: scale(1.1);
        background-color: #2d5455;
        
    }
    #pHeader{
        color: #D9D9D9;
        margin: 0px 30px 25px 30px;
        
    }
    
}
