body{
            background-image: url(../imagens/bg.png),
                              url(../imagens/ruido.png),
                              linear-gradient(50deg ,#58585880, #5e5e5e7a);
                              background-attachment: fixed;
            width: 98vw;
            height: 98vh;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            font-family: Poppins;
            font-weight: 100;
            font-size: 1.1em;
        }
        #principal{
            background-color: rgba(0, 0, 0, 0.419);
            padding: 15px;
            width: 300px;
            height: 180px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            flex-flow: column nowrap;
            align-items: center;
            border: 1px solid #37473a80;
            position: relative;

        }
        #ico_user{
            position: absolute;
            top: 25px;
            left: 35px;
        }
        #ico_pass{
            position: absolute;
            top: 80px;
            left: 35px;
        }
        input{
            width: 180px;
            height: 28px;
            padding-left: 10px;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #575a59;
            color: #fff;
        }
        
        #ipass{
            height: 28px;
        }
        #go{
            height: 32px;
            border: 1px solid #5e5e5e7a;
            width: 200px;
            border-radius: 20px;
            background-color: #545a5580;
            color: white;
            transition: transform .3s ease;
        }
        #go:hover{
            background-color: #37473a80;
            transform: scale(1.1);
            border: 1px solid rgba(0, 0, 0, 0.301);
        }
        h1{
            text-decoration: underline;
            color: #2e302f;
        }