@charset "UTF-8";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
body{
    font-family: Quicksand;
    background-color: #353535;
    width: 90vw;
    margin: 0 auto;

}
body > header > h1{
    font-size: 6em;
    color: #fae9e9;
    text-indent: 45px;
}
header{
    border-bottom: 1px solid rgba(240, 199, 199, 0.432);
    height: 300px;
    display:flex;
    justify-content: left;
    align-items: center;
    margin: auto auto;
}
#pSection{
    color: #D9D9D9;
    margin: 20px 0 20px 45px;
    font-size: 1.25em

}
#principal{
    color: white;
    display: flex;
    flex-flow:row nowrap;
    width:100%;
    justify-content: space-evenly;
}
.colunasPrincipal{
    height: 220px;
    border-right: 1px solid rgba(128, 128, 128, 0.37);
    margin: 5px;
    text-align: center;
    width: 35%;
    padding: 10px;
    display: flex;
    flex-flow:column nowrap;
    justify-content: space-between;
    align-items: center;
}
.ultima{
    border: none;
}
.btnIr{
    width: 130px;
    font-size: 1.1em;
    margin-bottom: 50px;
    height: 45px;
    border-radius: 20px;
    border: none;
    background-color: #3c6e719a;
    cursor: not-allowed;


}
.btnLista{
    cursor: pointer;
    transition: transform .3s ease;
    background-color: #3C6E71;
    color: white;
}
.btnLista:hover{
    transform: scale(1.1);
    background-color: #2d5455;
    
}
#pHeader{
    color: #D9D9D9;
    margin: 50px 0 0 30px;
}
