        *{
            
            box-sizing: border-box;
        }
        body{
            background-color: #363d43;
            color: white;
            z-index: 1;
            font-family: Poppins;
        }
        h1{
            font-size: 5em;
            text-indent: 45px;
            z-index: 1;
            text-align: center;
            
        }
        header{
            border-bottom:1px solid rgba(240, 199, 199, 0.432);
            z-index: 1;
            position: relative;
        }
        section{
            font-size: 1.3em;
            margin: 20px 0 20px 45px;
            z-index: 1;
        }
        main{
            margin: auto auto;
            width: 96%;
            height: 69vh;
            display:flex;
            justify-content: center;
            align-items: center;
            flex-flow: column nowrap;
        }
        ol{
            border: 4px solid rgb(88, 88, 88);
            border-top:none;
            border-radius:0 0 10px 10px;
            background-color: white;
            color: black;
            height: 800px;
            max-height: 1000%;
            min-width: 570px;
            overflow-y: scroll;
            width: 60vw;
            max-width: 1000px;
            padding: 20px 5px 20px 70px;
            text-indent: 10px;
            font-size: 2.4em;
            position: relative;
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
        }
        li{
            position: absolute;
            top: 0;
            left: 0;
            text-decoration: none;
            text-align: left;
        }
        .teste{
            border: none;
            height: 40px;
        }
        .text:selected{
            border: none;
        }
        #listaPrincipal{
            margin: 0;
        }
        #addItens{
            border: 4px solid rgb(88,88,88);
            border-bottom: none;
            min-width: 570px;
            background-color: #2f5781;
            width: 60vw;
            max-width: 1000px;
            margin-top: 20px;
            border-radius: 8px 8px 0 0;
            padding: 15px 0 15px 15px;
            text-align: left;
            position: relative;
            z-index: 10;
        }
        #addItens span{
            font-size: 1.7em;
            margin: 8px;

        }
        #addInput{
            margin: 30px 20px 10px 20px;
            height: 40px;
            border-radius: 20px;
            padding: 10px 10px 10px 20px;
            min-width: 496px;
            width: 54vw;
            max-width: 920px;
            font-size: 1.25em;
            border:none;
        }
        #btn_add{
            padding: 7px;
            border: none;
            height: 28px;
            width: 70px;
            border-radius: 8px;
            transition: transform .3s ease;
        }
        #btn_add:hover{
            transform: scale(1.1);
            cursor: pointer;
            background-color: rgb(140, 192, 124);
            border: 1px solid white;
        }
        li{
            border-bottom: 1px solid rgba(128, 128, 128, 0.473);
            margin: 4px 4px 4px 4px;
            padding: 6px;
            font-size: .8em;
            position: relative;
            font-style: italic;

        }
        li::marker{
            color: gray;
            font-style: normal;
        }
        li:hover{
            background-color: rgba(241, 232, 205, 0.452);
        }
        .material-symbols-outlined{
            position: absolute;
            right: 5px;
            top: 5px;
            color: rgb(255, 255, 255);
            border: none;
            border-radius: 4px;
            background-color: #ea5f54;
            
            height: 40px;
        }
        .material-symbols-outlined:hover{
            background-color: #ee4b3f;
        }
        .save{
            background-color: transparent;
            border: none;
            width: 24px;
            height: 24px;
            position: absolute;
            top: 74px;
            transition: transform .3s ease;
            margin: 3px;
        }
        .save:hover{
            transform: scale(1.2);
            cursor: pointer;
        }
        .check{
            all: unset;
            width: 34px;
            height: 34px;
            border: 1px solid black;
            border-radius: 3px;
        }
        .check:checked{
            background-image: url('../imagens/checkmarcado.png');
            background-size: contain;
            border-radius: 3px;
            border: 1px solid #2e9080;
            background-color: #2e9080;
            width: 34px;
            height: 34px;
            
        }
        #voltarIco{
            position: absolute;
            top: 42px;
            left: 52px;
            cursor: pointer;
        }
        @media screen and (max-width:470px){
            h1{
                font-size: 2.9em;
                position: relative;
                left: -10px;
            }
            #addItens{
                min-width: 320px;
                width: 90vw;
                max-width: 390px;
                font-size: .8em;  
            }  
            #addInput{
                min-width: 290px;
                width: 80vw;
                max-width: 300px;
                font-size: 1.1em;
            }
            #listaPrincipal{
                width: 90vw;
                min-width: 320px;
                max-width: 390px;
                padding: 3px;
            }
            #voltarIco{
                top: 20px;
                left: 20px;
            }
            span{
                font-size: .7em;
            }
            }
            @media screen and (min-width:471px) and (max-width:600px){
            h1{
                font-size: 2.9em;
                position: relative;
                left: -10px;
            }
            #addItens{
                min-width: 320px;
                width: 90vw;
                max-width: 550px;
                font-size: .8em;  
            }  
            #addInput{
                min-width: 290px;
                width: 78vw;
                max-width: 445px;
                font-size: 1.1em;
            }
            #listaPrincipal{
                width: 90vw;
                min-width: 320px;
                max-width: 550px;
                padding: 3px;
            }
            #voltarIco{
                top: 20px;
                left: 20px;
            }
            span{
                font-size: .7em;
                max-width: 80%;
            }
            }
            @media screen and (max-width:400px){
            h1{
                font-size: 2.9em;
                position: relative;
                left: -10px;
            }
            #addItens{
                min-width: 320px;
                width: 90vw;
                max-width: 390px;
                font-size: .7em;  
            }  
            #addInput{
                min-width: 290px;
                width: 60vw;
                max-width: 300px;
                font-size: 1.1em;
                margin: 20px 0 5px 0;
            }
            #listaPrincipal{
                width: 90vw;
                min-width: 320px;
                max-width: 390px;
                padding: 2px;
            }
            #voltarIco{
                top: 20px;
                left: 20px;
            }
            span{
                font-size: .5em;
            }
            
            }